/* 样式统一调整的区域 */
//卡片
.adm-card-body {
  padding: 0 !important;
}
//分割线
.adm-divider::after,
.adm-divider::before {
  border-width: 0.04rem 0 0 !important;
}
.adm-number-keyboard-popup{
  .adm-popup-body.adm-popup-body-position-bottom{
    border-top:0.5px solid rgb(186, 185, 185) ;
  }
}
//键盘
.keyboard{
  .adm-number-keyboard-key{
    border-radius: 10px ;
    height:0.8rem;
  }
  .adm-number-keyboard-wrapper{
    background-color: #f2f3f5;
    height:360px;
  }
  .confirmed-style{
    flex:3;
    justify-content:space-evenly;
    align-content: space-between;
    .adm-number-keyboard-key.mid-key{
      flex:0 1 63%;
    }
    .sign-key,.number-key{
      flex:0 1 30%;
    }
  }
  .adm-number-keyboard-confirm{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    .bs-key {
      height:0.8rem;
      flex:0 1 auto;
    }
    .ok-key {
      flex:0 1 auto;
      height:calc(360px - 0.96rem);
    }
  }
 
}
/*
首页样式
*/
//选择月份弹窗按钮
.month{
  .adm-button{
    width:150px;
    height:70px;
  }
}
//筛选弹窗按钮
.btnGroup{
  .adm-button,.adm-button::before{
    width:50%
  }
}

/*
账本页面样式
*/
//账本卡片
.accountCard{
  .adm-divider{
    margin:0;
  }
.adm-divider::after,
.adm-divider::before {
  border-width: 0.02rem 0 0 !important;
}
}
//账本设置按钮
.Dialog{
  .adm-divider::after,
.adm-divider::before {
  border-width: 0.01rem 0 0 !important;
}
}

/*
账单详情页面样式
*/
.billInfoWrapper{
//删除编辑按钮
.billFooter{
  .adm-button,.adm-button::before{
    width:300px;
    height:100px;
    --border-color:#0a54bc;
    color:#1271f7;
  }
  .adm-button-primary{
    color:#fff;
  }
}
//账单详情金额输入框
.moneyInput{
  .adm-input-element{
    font-size:65px;
    font-weight:bold;
    --text-align:right;
  }
}
}
//账单详情备注输入框
.noteInput{
  .adm-input-element{
    --text-align:right;
  }
}
//删除弹出框
 .billDeleteDialog{
  .delete{
  font-size:35px;
  font-weight:bold;
  text-align: center !important;
  margin-bottom: 10px;
}
}





//字体图标
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}